{% extends 'admin/master.html' %}

{% block body %}
<h1>Welcome Master Beard</h1>

<h3>Select a file to upload</h3>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if ".mp4" in filename %}
	<div style="margin: 10px auto;">
		<video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('main.display_image', filename=filename) }}" type="video/mp4"></source>
		</video>
	</div>
{% endif %}
{% if filename %}
{% if '.mp4' not in filename %}
	<div>
		<img src="{{ url_for('main.display_image', filename=filename) }}">
	</div>
{% endif %}
{% endif %}
<form method="post" action="/admin" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% endblock %}