{% extends 'admin/master.html' %}
<link rel="shortcut icon" type="image/x-icon" src="../../static/favicon.ico">
{% block body %}
<h1>Welcome Commissioner Beard</h1>

<h3>Select a file to upload</h3>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if ".mp4" in filename %}
	<div style="margin: 10px auto;">
		<video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('main.display_image', filename=filename) }}" type="video/mp4"></source>
		</video>
	</div>
{% endif %}
{% if filename %}
{% if '.mp4' not in filename %}
	<div>
		<img src="{{ url_for('main.display_image', filename=filename) }}">
	</div>
{% endif %}
{% endif %}
<form method="post" action="/admin" enctype="multipart/form-data">
		<div class="form-group">
		  <label for="formFile" class="form-label mt-4">Select file to upload</label>
		  <input class="form-control" name="file" autocomplete="off" required type="file" id="formFile">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}