<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css')}}" />
<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
{# <link rel="shortcut icon" href="{{ url_for('static', filename='Cale_head.png') }}"> #}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" src="../static/favicon.ico">
        <title>The Big Dawgs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='forum.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='news.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='power.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='versus.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        

    </head>
    <body>
        <link rel="shortcut icon" type="image/x-icon" src="../static/favico.ico">
        
      <nav class="nav">
          <a href="{{ url_for('main.news') }}" class="nav__link">
              <i class="material-icons">newspaper</i>
              <span class="nav__text">NEWS</span>
          </a>
          <a href="{{ url_for('main.power') }}" class="nav__link">
              <i class="material-icons">format_list_numbered</i>
              <span class="nav__text">POWER</span>
          </a>
          <a href="{{ url_for('main.versus') }}" class="nav__link">
              <i class="material-icons">sports_mma</i>
              <span class="nav__text">VERSUS</span>
          </a>
          <a href="{{ url_for('main.forum') }}" class="nav__link">
              <i class="material-icons">forum</i>
              <span class="nav__text">FORUM</span>
          </a>
      </nav>


      
          {% block content %}
          {% endblock %}
          {% block modal %}{% endblock %}
          {% block script %}{% endblock %}
          <footer>
              <p>© TheBigDawgs</p>
          </footer>
      
  </body>
</html>
