{% extends 'base.html' %}

{% set active_page = "forum" %}

{% block content %}



        <header>
            <h1>LEAGUE FORUMS</h1>
            <h3>Speak your truth kings</h3>
        </header>

        <main>
            
            
              <a href="{{ url_for('main.create') }}" >
                <button type="button" class="btn btn-primary">
                  Create Post
                </button>
              </a>
             <br>
             <br>
                  <table border = 1>
                     <thead>
                       <td>Timestamp</td>
                        <td>Title</td>
                        <td>Post</td>
                        <td>Edit Post</td>
                     </thead>
                  {% for message in messages %}
                  <tr>
                    <td>{{ message['time_created'] }}</td>
                    <td class="content">{{ message["title"] }}</td>
                    <td class="content">{{ message["content"] }}</td>
                    <td> <a href="{{ url_for('main.edit', id=message['id']) }}">Edit</a></td>
                  </tr>
                  {% endfor %}
                  </table>
                  <br>
            </div>
            
        </main>
{% endblock %}


